*.pyc
database
*.pid
celerybeat-schedule
.cache
/venv
/log
/postgres-data
/redis-data
/.env
postgres-datax
.vscode/settings.json
src/coalics/db.sqlite
*.egg-info
.DS_Store
.coverage
.python-version
.tox

cache
.vim
Session.vim
