<!DOCTYPE html>
<html>
<head>
	<title>Loading: {{file}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
</head>
<body>
	<div class="container is-max-desktop">
		<div class="box m-5" id="content">
			<div class="level">
				<div class="level-left">
					<div class="level-item">
						<div class="content">

							Loading 
							{% if file %}
							<strong>{{file}}</strong> from 
							{% endif %}
							<strong>{{repo}}</strong> artifact <strong>#{{artifact_id}}</strong>
						</div>
					</div>
				</div>

				<div class="level-right">
					<div class="level-item">
						<img src="{{ url_for('static', filename='spinner.svg') }}" alt="Loading" />
					</div>
				</div>

			</div>
		</div>
</body>
